<div class="product">
  <h1><%= title %></h1>

  <div id="thumbs">
    <ul class="thumbs noscript">
      <% images.each do |path| %>
        <li>
          <a class="thumb" href="<%= path %>" title="<%= title %>">
            <img src="<%= path %>" alt="<%= title %>" />
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="slideshow"></div>

  <% description.each do |para| %>
    <p><%= para %></p>
  <% end %>
</div>

<script>
  jQuery(document).ready(function($) {
    var gallery = $('#thumbs').galleriffic({
      imageContainerSel:         '#slideshow',
      controlsContainerSel:      '#controls',
      captionContainerSel:       '#captions',
      loadingContainerSel:       '#loading'
    });
  });
</script>
