<% Sections.reject {|label, section| section.empty? }.each do |label, section| %>
  <div class="product">
    <a href="<%= section.path %>">
      <img src="<%= section.image %>" class="main main-left">
    </a>
    <h1><a href="<%= section.path %>" class="black"><%= section.title %></a></h1>
    <p><%= section.description %>
      <span class="read-more"><a href="<%= section.path %>">Read more...</a></span>
    </p>
  </div>
<% end %>

<div class="product">
  <img src="/images/me.jpg" class="main main-left">
  <h1>About Me</h1>
  <p><%= AboutMe %></p>
</div>
